@using ImagineCup2016.Models
@model Register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> roles = new List<SelectListItem>()
    {
        new SelectListItem()
        {
            Text = "Adminstrator",Value="Adminstrator"
        },
        new SelectListItem()
        {
            Text = "StationAdmin",Value="StationAdmin"
        },
         new SelectListItem()
        {
            Text = "Producer",Value="Producer"
        },
          new SelectListItem()
        {
            Text = "Announcer",Value="Announcer"
        }
    };
}

<h2>Register</h2>

<div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <label>Enter User Name </label>
        @Html.TextBoxFor(m => m.UserName, new { @Class = "form-control" });
        <label>Enter Password</label>
        @Html.PasswordFor(m => m.Password, new { @Class = "form-control" });
        <br />
        @Html.DropDownList("role",roles,"Select a Role")
        <button class="btn btn-primary">Create</button>
    }

</div>

